import { I%pascalCase%Service } from '@household/api/functions/%paramCase%/%paramCase%.service';

export default (%camelCase%: I%pascalCase%Service): AWSLambda.ScheduledHandler => {
  return async (event) => {
    try {
      return %camelCase%({});
    } catch (error) {
      console.error(error);
    }
  };
};
